*{
    padding: 0;
    margin: 0;
}
#card-container{
    margin-top: 3%;
    margin-left: 15%;
    .card{
        border: 1px solid black;
        height: 180px;
        width:500px;
        background: #f6f0f0;
        border-radius: 18px;
        padding-left: 3%;
        padding-top: 3%;
        margin-bottom: 3%;
        h1{
            color: #4c0082ea;
            margin-bottom: 1%;
        }
        h3{
            color: #4c00828c;
            margin-bottom: 1%;
        }
        h5{
            margin-bottom: 1%;
        }
        p{
            margin-bottom: 1%;
        }
    }
}